@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  
  #top__links path{
    @apply text-slate-800;
  }

  .btn__primary {
    @apply px-[4rem] py-5 text-white rounded-xl transition-all ease-in-out bg-gradient-to-br from-yellow-300 to-yellow-800 hover:to-yellow-400 hover:from-yellow-900 hover:drop-shadow-lg;
  }

}


/* MAP */
#africa__map path{
  fill: gray;
}
#africa__map path:hover{
  fill: green;
}




.swiper-button-next,
.swiper-button-prev {
    /* background-color: white;
    background-color: rgba(255, 255, 255, 0.7); */
    right:10px;
    padding: 30px;
    border-radius: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white !important;
    fill: white !important;
    stroke: white !important;
}

.swiper-pagination-bullet {
    background-color: lightgray !important;
}
.swiper-pagination-bullet-active {
    background-color: white !important;
}



